{% extends "main/base.html" %}
{% load static %}

{% block style%}
    <link rel="stylesheet" href="{% static "css/table.css" %}">
{%endblock style%}

{% block content%}
    <div class="content">
        <div class="table-header">
            <h2>Список специальностей</h2>
            <a href="{% url 'specialties:specialty_add' %}" class="btn-add">
                + Добавить специальность
            </a>
        </div>
        <table>
            <thead>
                <td>id</td>
                <td>name</td>
                <td></td>
            </thead>
            {% for specialty in specialties  %}
            <tr>
                <td>{{specialty.id}}</td>
                <td>{{specialty.name}}</td>
                <td class="actions">
                    <a href="{% url 'specialties:specialty_edit' specialty.id %}" class="btn-action btn-edit">✏️</a>
                    <form action="{% url 'specialties:specialty_delete' specialty.id %}" method="post" class="form-action">
                        {% csrf_token %}
                        <button type="submit" class="btn-action btn-delete" onclick="return confirm('Удалить специальность?')">🗑️</button>
                    </form>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">Нет доступных специальностей</td>
                </tr>
                
            {% endfor %}
        </table>
    </div>
{%endblock content%}