{% extends "main/base.html" %}
{% load static %}

{% block style%}
    <link rel="stylesheet" href="{% static "css/table.css" %}">
{%endblock style%}

{% block content%}
    <div class="content">
        <div class="table-header">
            <h2>Список специалистов</h2>
            <a href="{% url 'masters:master_add' %}" class="btn-add">
                + Добавить специалиста
            </a>
        </div>
        <table>
            <thead>
                <td>id</td>
                <td>surname</td>
                <td>name</td>
                <td>patronymic</td>
                <td>specialty</td>
                <td></td>
            </thead>
            <tbody>
                {% for master in masters  %}
                <tr>
                    <td><a href="{% url 'masters:master' master.id %}">{{master.id}}</a></td>
                    <td>{{master.surname}}</td>
                    <td>{{master.name}}</td>
                    <td>{{master.patronymic}}</td>
                    <td>{{master.specialty.name}}</td>
                    <td class="actions">
                        <a href="{% url 'masters:master_edit' master.id %}" class="btn-action btn-edit">✏️</a>
                        <form action="{% url 'masters:master_delete' master.id %}" method="post" class="form-action">
                            {% csrf_token %}
                            <button type="submit" class="btn-action btn-delete" onclick="return confirm('Удалить специалиста?')">🗑️</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">Нет доступных специалистов</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock content%}